<!DOCTYPE html>
<html lang="en">
<head>
    <meta  charset="utf-8" />
    <title>平台服务协议 | 启瑞云-CR-来自通讯的极速体验！</title>

    <link rel="stylesheet" href="../public/assets/plugins/bootstrap/css/bootstrap.min.css"  type="text/css" />
    <link rel="stylesheet" href="../public/assets/layout/css/style.css"  type="text/css" />
    <link rel="shortcut icon" href="/assets/layout/img/favicon.ico" /> </head>
    <script src="../public/assets/plugins/jquery.min.js"  type="text/javascript" ></script>
    <!-- ie 下placeholder 内容不显示问题  -->
    <!--<script src="../js/jquery.placeholder.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(function () {
        // Invoke the plugin
        $('input, textarea').placeholder();
      });
    </script>-->
</head>
<body >
<!-- 平台首页 begin -->
<!-- navigation-->
<!--<div class="navigation">-->
    <!--<div class="container"> <a href="" class="logo pull-left" name="1F"></a>-->
        <!--<div class="pull-right" style="margin-top:24px;"> <a hrsingogin.html" class="btn btn-outline-white">登录</a> <a href="register.html" class="btn-blue" style="margin-left:10px;">注册</a> </div>-->
        <!--<ul class="pull-right menu">-->
            <!--<li><a href="">首页</a><span>|</span></li>-->
            <!--<li><a href="">产品服务</a><span>|</span></li>-->
            <!--<li><a href="">行业案例</a><span>|</span></li>-->
            <!--<li><a href="product-price.html">价格</a><span>|</span></li>-->
            <!--<li><a href="">线上体验</a><span>|</span></li>-->
            <!--<li><a href="">开发者中心</a>-->
                <!--<ul>-->
                    <!--<li><a href="api.html" >API手册</a></li>-->
                    <!--<li><a href="helper.html" >帮助中心</a></li>-->
                <!--</ul>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->
<div class="header">
    <div class="container-cr"> <a class="logo" href="index.html">
        <img alt="logo"  src="resources/images/site_logo/chonry.png" /> </a>
        <div class="nav">
            <a href="index.html">首页</a>
            <a href="api.html">API手册</a>
            <a href="index.html">帮助中心</a>
            <!--<a href="tel:400-006-0086" class="tel" th:if="${session.site.id == 1}">热线：400-006-0086</a>-->
            <!--<a href="tel:400-865-0285" class="tel" th:if="${session.site.id == 2}">热线：400-865-0285</a>-->
            <!--<a href="tel:400-0233-021" class="tel" th:if="${session.site.id == 3}">热线：400-0233-021</a>-->
            <!--<a href="tel:400-006-0086" class="tel" th:if="${session.site.id != 1 && session.site.id != 2 && session.site.id != 3}">热线：400-006-0086</a>-->
            <!--<a class="nav-small" href="javascript:void(0);"><i class="iconfont icon-mulu"></i></a>-->
        </div>
    </div>
</div>
<div class="cr-main cr-detail">
    <div class="container-cr clearfix">
        <h1>服务协议</h1>
        <div class="info2-item">
            <p>为使用平台服务，您应当阅读并遵守《平台服务协议》（以下简称"本协议"）。</p>
            <p>在接受本协议之前，请您务必仔细阅读本协议的全部内容，特别是免除或者限制责任的条款以及管辖法院的选择条款等，限制、免责条款可能以加粗形式提示您注意。无论是否实际阅读本协议，您通过网络页面点击确认本协议或实际使用平台服务，均表示您与本公司已就本协议达成一致并同意接受本协议的全部约定内容。如果您不同意本协议的任意内容，或者无法准确理解本公司对条款的解释，请不要同意本协议或使用本协议项下的服务。否则，表示您已接受了以下所述的条款和条件，同意受本协议约束。</p>
        </div>
        <div class="info2-item">
            <div class="tit">定义</div>
            <p>1. &nbsp; 通讯平台：是本公司提供的，面向开发者为主的互联网合作伙伴，提供融合通信能力的开放平台。开发者可利用平台，通过公众通信网或互联网，向用户提供以短信通知服务、语音验证服务、话费流量充值服务等内容为主的技术服务，以下简称 "平台"。</p>
            <p>2.&nbsp; API接口：API（Application Programming Interface,应用程序编程接口）提供给开发人员的实现某一特定功能的接口，以下简称" 接口"。 </p>
            <p>3. &nbsp;App key & App secret：指开发者在申请开发新应用时获得的由本公司授予的应用程序接入账户和密钥。App key是应用的唯一标识， 本公司通过App key来鉴别应用发布者的身份。App secret是本公司给应用分配的密钥，该密钥在一定技术条件下可保证应用来源的可靠性。</p>
            <p>4. &nbsp; 开发者：调用平台通信能力接口进行应用开发合作的主体，包括公司和个人，经过本公司审核通过后成为本协议的开发者，以下简称"您"。</p>
        </div>
        <div class="info2-item">
            <div class="tit">服务内容</div>
            <P>本公司将通信能力以API接口的形式提供给您调用，您根据自己的业务需要选择需要的服务，具体可选服务见网站页面。</P>
        </div>
        <div class="info2-item">
            <div class="tit">服务费用</div>
            <b>服务单价</b>
            <p>1.&nbsp;本公司将根据不同服务种类收取技术服务费用，具体费用标准以网站页面展示为准。</p>
            <p>2.&nbsp;本公司有权根据经营需要随时变更费用标准，并提前7天公示在网站上，自公示之日起7日后生效，如您不同意变更后的费用标准应立即停止使用，继续使用将视为同意并接受变更后费用标准。</p>
            <p>3.&nbsp;本服务的任何免费试用或免费功能和服务不应视为本公司放弃后续收费的权利。本公司有权提前7天以公告形式通知您收费标准，若您继续使用则需按平台公布的收费标准支付费用。</p>
            <b>账单服务</b>
            <p>本公司向您提供使用本服务的账单，并根据账单计算和收取费用。</p>
            <b>付款方式</b>
            <p>1.&nbsp;本协议项下技术服务费的支付采用预充值方式，您通过银行账户或支付宝向您的本公司通信账户预存使用费，本公司根据您所选择的服务进行计费，按实际使用量实时扣费，本公司将根据您的预存账户余额情况进行费用预警，为了避免出现API调用的中止或中断，您需及时补充预存费用，否则因账户余额不足而导致的一切风险及责任，均由您自行承担。</p>
            <p>2.&nbsp;您通过参与活动等方式获得平台赠予的代金券，在代金券使用有效期内，您使用通信能力所产生的费用将优先从代金券账户里进行扣除，逾期未使用直接作废。</p>
            <p>3.&nbsp;未尽事宜见官网各个通信能力服务内容及报价说明。</p>
        </div>
        <div class="info2-item">
            <div class="tit">您的权利及义务</div>
            <b>账号注册及管理</b>
            <p>1.&nbsp;您确认，在您完成注册程序或以其他平台允许的方式实际使用服务时，您应当是具备完全民事权利能力和与所从事的民事行为相 适应的行为能力的自然人、法人或其他组织。若您不具备前述主体资格，请勿使用服务，否则您及您的监护人应承担因此而导致的一切后果，且本公司有权注销（永久冻结）您的账户，并向您及您的监护人索偿。如您代表一家公司或其他法律主体进行注册或以其他平台允许的方式实际使用本服务，则您声明和保证，您有权使该公司或该法律主体受本协议"条款"的约束。</p>
            <p>2.&nbsp;您应按照平台要求提交注册信息，并保证其提交注册信息真实、有效。您的相关注册信息发生变化时，应当在变更后10个工作日内修改相关注册信息。由于您提交虚假注册信息、提交信息不准确或未及时更新，本公司有权停止您服务，导致的任何损失或责任由您自行承担。</p>
            <p>3.&nbsp;您承诺注册的账号名称、标识和简介等信息中不得出现违法和不良信息，不得冒充他人，不得未经许可为他人注册，不得以可能导致其他用户误认的方式注册账号，不得使用可能侵犯他人权益的用户名（包括但不限于涉嫌商标权、名誉权侵权等），否则本公司有权不予注册或停止服务并收回账号，因此产生的损失由您自行承担。</p>
            <p>4.&nbsp;您了解并同意，注册账号所有权归属于本公司，注册完成后，您仅获得账号使用权。账号使用权仅归属于初始申请注册人，不得以任何方式转让或被提供予他人使用，否则，本公司有权立即不经通知收回该账号，由此带来的因您使用本服务产生的全部数据、信息等被清空、丢失等的损失，您应自行承担。</p>
            <p>5.&nbsp;在您成功注册后，本公司将根据账号和密码确认您的身份。您应妥善保管您的终端及账户和密码，并对利用该账户和密码所进行的一切活动负全部责任。您承诺，在密码或账户遭到未获授权的使用，或者发生其他任何安全问题时，将立即通知平台，且您同意并确认，本公司不对上述情形产生的任何直接或间接的遗失或损害承担责任。除非有法律规定或司法裁定，且征得本公司的同意，否则，您的账户、密码不得以任何方式转让、赠与或继承（与账户相关的财产权益除外）。</p>
            <p>6.&nbsp;您了解并同意，如您注册账号后连续超过12个月未登录，本公司为网站优化管理之目的有权回收该账号，相关问题及责任均由您自行承担。</p>
            <p>7.&nbsp;本公司根据本协议收回或取消账号后，有权自行对账号相关内容及信息以包括但不限于删除等方式进行处理，且无需就此向用户承担任何责任。</p>
            <b>入驻和开通服务</b>
            <p>1.&nbsp;入驻：您需进行实名认证，并根据平台要求提交相关资料，方可完成开发者入驻，入驻成功即自动开户。</p>
            <p>2.&nbsp;开通服务：您需选择、申请相应的通信能力API调用权限，并确认相应的服务条款，在审核通过获得相应通信能力权限后，您可登录管理控制台进行服务管理等操作。</p>
            <b>使用规范</b>
            <p>1.&nbsp;您应当具备使用本服务的相关资质，您使用通信能力接口用于应用开发的，应同时具备相关开发的资质以及该应用提供服务应当具备的资质，并具备履行其基于本协议项下之义务的能力，您保证履行相关义务不违反任何对其有约束力的法律文件。您自行负责其应用的启作、开发、编辑、加工、修改、测试、运营及维护，并且自行承担相应的成本。</p>
            <p>2.&nbsp;您在使用平台服务时，必须遵守中华人民共和国相关法律法规的规定，您承诺将不会利用本服务进行任何违法或不正当的活动，否则本公司有权停止向您提供服务。包括但不限于：</p>
            <p>（1）反对宪法所确定的基本原则的；</p>
            <p>（2）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>
            <p>（3）损害国家荣誉和利益的；</p>
            <p>（4）煽动民族仇恨、民族歧视，破坏民族团结的；</p>
            <p>（5）破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
            <p>（6）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</p>
            <p>（7）侮辱或者诽谤他人，侵害他人合法权益的；</p>
            <p>（8）未经他人同意传递商业等信息；</p>
            <p>（9）从事欺诈或诈骗行为的；</p>
            <p>（10）含有法律、行政法规禁止的其他内容的；</p>
            <p>（11）本公司认为属于不正当的活动。</p>
            <p>3. &nbsp;您同意通过开放平台提供的途径合法获取应用标识（App key）及密钥（App secret）。您对App key 和App secret的机密负完全 责任。您同意任何时候都不使用其他服务商的App key 和App secret，也不将自身的App key 和App secret透露给任何第三方。您同意在发现或怀疑他人未经授权就使用其App key 和App secret时立即通知本公司。本公司对开发者的App key 和App secret的所有使用情况，包括但不限于任何未经授权的访问、更改或者删除、破坏、损害、丢失或未能存储均不承担任何责任。</p>
            <p>4.&nbsp;您应采取有效措施，防止黑客攻击、盗用密码、非法调用页面等危害通信业务信息安全的非法行为。您应妥善保管使用本服务的接口、账号密码并保证自用终端和网络的安全性，使用账号密码从事的一切行为均视为您的行为，因账号密码丢失或被盗以及网络不安全产生的后果由您自行承担。</p>
            <p>5.&nbsp;您保证不得以任何方式或企图修改或干扰平台或其他本公司网站及系统以及本公司提供给您的网站、系统或代码的任何部分、功能。 您违反上述条款，本公司有权根据其情节，对您实施警告、限制服务、应用下线、应用删除、中止或终止服务等措施。</p>
            <p>6.&nbsp;您对自己在使用平台服务过程中的行为及与其客户之间的权利义务承担法律责任，您自主开发、独立运营其应用成果，本公司不参与您应用的运营活动，您应依法进行应用的运营活动并独立承担相应的法律责任。您违反本协议或相关的服务条款的规定，导致或产生的任何第三方主张的任何索赔、要求或损失，您同意赔偿本公司及其关联公司和合作公司，并使之免受损害。</p>
            <p>7.&nbsp;您应满足本公司对接口的各项技术和商务规范要求。</p>
            <p>8.&nbsp;您不得将本协议服务、接口、数据等全部或部分出售或进行任何利益交换行为，也不得向任何第三方转借、转租或转授权等。</p>
            <p>9.&nbsp;您同意遵守本公司制定的平台规则、规范等，并根据所选择服务遵守相应的附件中的使用规范。</p>
            <p>10.&nbsp;除符合适用法律的基本规定之外，本公司应用或服务未经用户同意不得擅自收集用户数据，不得违反法律或约定超出范围使用用户数据，应向用户提供隐私保护政策。</p>
            <p>11.&nbsp;您同意和理解：</p>
            <p>（1）本平台融合通信能力开放均基于运营商能力和资源，由于通信能力、系统、网络和资源的不确定性，平台尽可能的维护其能力的安全稳定，但对此不做任何保证；</p>
            <p>（2）您自主开发、独立运营其应用成果，平台不参与您应用的运营活动，您应依法进行应用的运营活动并独立承担相应的法律责任。</p>
            <p>12.&nbsp;您开发的应用及服务应当重视用户体验，尊重用户知情权、选择权，应用服务应当坚持诚信原则，不误导、欺诈、混淆用户，尊重用户的隐私，不骚扰用户，不制造垃圾信息。如果因违反本条给用户造成的损害赔偿，应由您独立承担，若由此给平台造成任何损失的，您应当承担赔偿责任。平台有权自行判断和决定您的应用是否违反本协议约定、平台规则规范或侵犯用户合法权益，并对应用作出包括但不限于中止、限制或终止服务的处罚。</p>
            <p>13.&nbsp;除符合适用法律的基本规定之外，使用者应用或服务需要收集用户数据的应当符合以下条件：</p>
            <p>（1）使用者的应用或服务需要收集用户数据的，必须事先获得用户的授权，且仅可以收集为应用程序运行及功能实现目的而必要的用户数据。使用者应当告知用户相关数据收集的目的、范围及使用方式，保障用户知情权；</p>
            <p>（2）使用者应当就其应用向用户提供隐私保护政策，告知用户该应用收集哪些用户数据，如何使用，是否会将用户数据传播或提交他人等，保障用户的知情权及选择权。隐私政策在应用的界面上应当显示给用户；</p>
            <p>（3）使用者应当向用户提供修改、删除用户数据的方式，确保用户要求删除其用户数据时可通过该方式自行操作完成，并确保相关数据被完全删除；</p>
            <p>（4）使用者不得收集用户的隐私信息数据及其他平台认为属于敏感信息范畴的数据，包括但不限于不得收集或要求用户提供任何账号、密码，不得搜集或要求用户提供用户关系链、好友列表数据等；</p>
            <p>（5）使用者应当仅获取为应用程序运行及功能实现目的必要的数据；使用者在特定应用中收集的用户数据仅可以在该特定应用中使用，不得将收集的用户数据转移或使用在该特定应用之外；</p>
            <p>（6）未经平台授权，使用者不得使用平台提供的数据作为自身资源进行其它商业行为，包括但不限于收集、分享及对外宣传等；</p>
            <p>（7）使用者不得以任何形式将平台数据提供给任何非平台的第三方使用，使用者不得将用户数据出售、转让等；</p>
            <p>（8）如果平台认为使用者使用用户数据的方式，会损害用户体验，平台有权要求您删除相关数据并不得再以该方式使用用户数据；</p>
            <p>（9）平台在您违反协议时有权限制或阻止您获取用户数据及平台数据；</p>
            <p>（10）使用者应当遵守平台关于用户数据的其他管理规则。</p>
            <p>14.&nbsp;平台运营数据的全部权利，均归属本公司。未经本公司事先书面同意，您不得为本协议约定目的外使用相关数据。</p>
            <p>15.&nbsp;一旦您停止使用平台或平台基于任何原因终止对您开放平台的服务，您必须立即停止使用并删除从平台中获得的全部服务和数据。</p>
            <p>16.&nbsp;您不得违约或违法使用平台的所有资源；您不得向任何单位或个人出售、转让、转授权平台的代码、API接口（Application Programming Interface,应用程序编程接口）、开发工具以及其他平台服务资源等；您仅拥有依照本协议约定合法使用平台各项服务的权利。</p>
            <p>17.&nbsp;您不得利用平台从事以下活动：</p>
            <p>（1）未经允许，进入受保护的计算机信息网络或者使用计算机信息网络资源的；</p>
            <p>（2）未经允许，对计算机信息网络功能进行删除、修改或者增加的；</p>
            <p>（3）未经允许，对进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、修改或者增加的；</p>
            <p>（4）故意制作、传播计算机病毒等破坏性程序的；</p>
            <p>（5）其他危害计算机信息网络安全的行为。</p>
        </div>
        <div class="info2-item">
            <div class="tit">保密条款</div>
            <p>1. &nbsp;本协议所称保密信息，是指一方（以下简称"接受方"）从对方（以下简称"披露方"）取得的、获知的、或因双方履行本协议而共同启造且具有不可分割性的商业秘密（包括财务秘密）、技术秘密、经营诀窍和（或）其他应予保密的信息和资料，无论上述信息和资料以何种形式或载于何种载体，无论披露方在披露时是否以口头、图像或书面等方式表明其具有保密性。</p>
            <p>2.&nbsp;本协议有效期内及其终止后五年内，任何一方均不应向任何第三方披露、泄漏或提供保密信息。</p>
            <p>3.&nbsp;甲乙双方应采取适当措施妥善保存对方提供的保密信息，措施的审慎程度不少于其保护自身的保密信息时的审慎程度。甲乙双方仅能将保密信息用于与本协议项下的有关用途或目的。</p>
            <p>4.&nbsp;双方保证保密信息仅可在各自一方从事该业务的负责人和雇员范围内知悉。在双方上述人员知悉该保密信息前，应向其提示保密信息的保密性和应承担的义务，并以可证明的方式表明上述人员确实承担本协议项下的保密责任。</p>
            <p>5.&nbsp;如确有必要，接受方应按照保密信息披露方的指示将含有保密资料的所有文件或其他资料归还给披露方，或按其指示予以销毁。</p>
            <p>6.&nbsp;本条上述限制条款不适用于以下情况：</p>
            <p>（1）在签署本协议之时或之前，该保密信息已以合法方式属接受方所有；</p>
            <p>（2）保密信息在通知给接受方时，已经公开或能从公开领域获得；</p>
            <p>（3）保密信息是接受方从与其没有保密或不透露义务的第三方获得的；</p>
            <p>（4）在不违反本协议项约定责任的前提下，该保密信息已经公开或能从公开领域获得；</p>
            <p>（5）该保密信息是接受方或其关联或附属公司独立开发，而且未从通知方或其关联或附属公司获得的信息中获益；</p>
            <p>（6）接受方应法院或其它法律、行政管理部门要求披露的信息（通过口头提问、询问、要求资料或文件、传唤、民事或刑事调查或其他程序）因而透露保密信息，在该种情况发生时，接受方应立即向披露方发出通知，并作出必要说明。</p>
            <p>7.&nbsp;甲乙双方亦对本协议的具体内容负有保密责任。</p>
            <p>8.&nbsp;甲乙双方为了履行本协议而进行的沟通、通知、告知等文件传递或文件交换，应由双方妥善保存，不得用于不利于双方开展业务的目的。双方不得诋毁诽谤对方，亦不得在公开场合以攻击对方为目的发布不利于双方的言论。</p>
        </div>
        <div class="info2-item">
            <div class="tit">知识产权</div>
            <p>1.&nbsp;平台上所有内容，包括但不限于著作、图片、档案、资讯、资料、网站架构、网站画面的安排、网页设计，均由本公司或其他权利人依法拥有其知识产权。非经本公司或其他权利人书面同意任何人不得擅自使用、修改、复制、公开传播、改变、散布、发行或公开发表平台程序或内容。</p>
            <p>2.&nbsp;未经本公司同意，您不得擅自使用您或其关联公司的商标、名称以及平台相关商标及其标识。</p>
            <p>3.&nbsp;开发者独立开发的应用的知识产权归其该所有人所有；权利人同意授予本公司及其关联公司在全球范围内享有免费的、永久性的、不可撤消的、非独家的、可转让、可分许可的许可，许可本公司应用开发平台使用、调用、演示产品等。该许可不受双方合作终止以及本协议终止的影响。</p>
            <p>4.&nbsp;本协议项目合作涉及的系统、代码、数据、品牌等，均由双方各自依法拥有知识产权，未经权利拥有一方的书面同意，另一方不得擅自使用、修改、复制、公开传播、发行，否则，权利拥有一方有权立即终止本协议并要求对方赔偿全部损失（包括但不限于调查取证费用、公证费用、律师费等）。</p>
            <p>5.&nbsp;您不得将本公司基于本项目合作开放的技术接口、源代码及算法等进行反向工程、反汇编、重构、反编译、翻译、修改、复制，或者在未经明确允许的情况下启作衍生作品。</p>
        </div>
        <div class="info2-item">
            <div class="tit">免责条款</div>
            <p>1. &nbsp;您充分理解，使用本公司的通信通道涉及到因特网、电信运营商的网络服务，可能会受到各个环节不稳定因素的影响，因此您同意，对因停电、计费系统故障、传输线路故障、通信故障及通信线路故障、检修升级、计算机错误或病毒、黑客攻击、信息损坏、数据丢失或其它在本公司合理控制范围之外的原因所造成的中断、延迟或停顿等服务问题，本公司不承担责任；为防止发生意外，请您不要仅依靠网络作为重要情况下使用的唯一通信工具，对于您利用本公司服务开展活动而造成的损失，双方同意本公司不向您或任何第三方承担责任。</p>
            <p>2. &nbsp;本公司有权定期或不定期地对提供网络服务的平台或相关的设备进行检修或者维护，如因此类情况而造成网络服务在合理时间内的中断或暂停，本公司无需为此承担任何责任。</p>
            <p>3. &nbsp;如发生下述任一情况而导致服务中断及您损失的，本公司不承担责任：</p>
            <p>（1）发生不可抗力情形的；</p>
            <p>（2）黑客攻击、计算机病毒侵入或发作的；</p>
            <p>（3）计算机系统遭到破坏、瘫痪或无法正常使用的；</p>
            <p>（4）因政府管制而造成中止或终止服务的；</p>
            <p>（5）其它非因本公司的过错而引起的。</p>
            <p>4. &nbsp;在任何情况下，本公司均不就因使用平台提供的服务所发生的任何间接性、后果性、惩戒性、偶然性、特殊性的损害，包括您使用平台服务而遭受的利润损失承担责任（即使您已事先被告知该等损害发生的可能性）。</p>
        </div>
        <div class="info2-item">
            <div class="tit">不可抗力</div>
            <p>因不可抗力或者其他意外事件，使得本协议的履行不可能、不必要或者无意义的，遭受不可抗力、意外事件的一方不承担责任。不 可抗力、意外事件是指不能预见、不能克服并不能避免且对一方或双方当事人造成重大影响的客观事件，包括但不限于自然灾害如洪水、地震、瘟疫流行等以及社会事件如战争、动乱、政府行为、电信主干线路中断、黑客、网路堵塞、电信部门技术调整和政府管制等。</p>
        </div>
        <div class="info2-item">
            <div class="tit">协议的终止</div>
            <p>1.&nbsp;在您违反本协议约定或平台规则、规范时，本公司有权随时暂停或终止向您提供平台服务。如您后续再直接或间接或以他人名义注册并登录平台的，本公司有权直接单方面暂停或终止提供本协议下服务。</p>
            <p>2.&nbsp;如本协议服务终止，本公司有权保留或删除您账号中的任何信息和全部相关数据，包括服务终止前您尚未完成的任何数据。</p>
            <p>3.&nbsp;因法律法规或政策原因导致平台业务无法继续运营的，双方合同自动解除，互不承担违约责任。</p>
            <p>4.&nbsp;由于客观原因，致使您不能使用服务时，本公司不承担任何责任，包括但不限于：</p>
            <p>（1）自然灾害，如台风、洪水、冰雹等；</p>
            <p>（2）政府行为，如征收、征用等；</p>
            <p>（3）社会异常事件，如罢工、骚乱等；</p>
            <p>（4）计算机病毒或黑客攻击、互联网络、通信线路等原因造成服务中断。</p>
            <p>5.&nbsp;鉴于通信服务的特殊性和不可控性，本公司可能随时中断或终止部分或全部的服务。如出现以上情形，除本协议所述不可抗拒因素外，本公司将以合理的方式通知您。</p>
        </div>
        <div class="info2-item">
            <div class="tit">违约责任</div>
            <p>1.&nbsp;任何一方未履行本协议项下的任何一项条款均被视为违约。违约方应按照本协议的相关约定，依法承担相应违约责任。</p>
            <p>2.&nbsp;除本协议另有约定外，任何一方违反其于本协议项下的陈述、承诺、保证或义务，而使另一方遭受任何诉讼、纠纷、索赔、处罚 等的，违约方应负责解决，使另一方发生任何费用、额外责任或遭受经济损失的，应当负责赔偿。如一方发生违约行为，守约方可 以书面通知方式要求违约方在指定的时限内停止违约行为，要求其消除影响。如违约方未能按时停止违约行为，则守约方有权立即 终止本协议。</p>
            <p>3.&nbsp;如果因您违反本协议，而导致任何其他第三方遭受任何损失并引起纠纷，且该等纠纷解决的结果最终导致本公司承担了任何责任，则您全额赔偿本公司受到的损失。涉及第三方纠纷时,本公司应及时知会您,双方共同协商,本着友好互谅的原则进行处理。</p>
        </div>
        <div class="info2-item">
            <div class="tit">争议解决</div>
            <p>本协议履行中若发生争议，双方应当本着互谅互让的原则，协商解决。协商不成的，任何一方均有权向合肥市蜀山区人民法院提起诉讼。</p>
        </div>
        <div class="info2-item">
            <div class="tit">协议的生效、续签及其他</div>
            <p>1.&nbsp;本协议内容包括协议正文及所有本公司已经发布的或将来可能发布的平台相关规则。上述规则为本协议不可分割的一部分，与本协议 正文具有同等法律效力。</p>
            <p>2.&nbsp;双方未行使或未执行本协议任何权利或规定，不构成对前述权利之放弃。</p>
            <p>3.&nbsp;本协议项下本公司对开发者所有的通知均可通过网页公告、电子邮件、手机短信或常规的信件传送等方式进行；该等通知于发送之 日视为已送达收件人。</p>
            <p>4.&nbsp;本协议如有的调整和更新会提前7天在本网站做网页公告，如果您不接受更新后的内容，可以在7天之内邮件或书面告知平台并履 行终止服务相应的责任。如果7天之内平台未收到终止服务的申请，默认您同意协议的调整和更新。</p>
            <p>5.&nbsp;若本协议中部分条款因任何原因而被认定无效，此种无效条款并不影响其他条款的有效性，且此种无效条款应自始视为不存在。</p>
            <p>6.&nbsp;本公司有权根据业务调整情况将本协议项下的全部权利义务一并转移给其关联公司，转让将以本协议规定的方式通知您。</p>
            <p>7.&nbsp;协议终止后，有关知识产权、数据信息保密的条款不因协议的终止而终止。</p>
        </div>


    </div>
</div>
<!--<footer>-->
    <!--<div class="container">-->
        <!--<ul class="clearfix">-->
            <!--<li class="li01">-->
                <!--<h3>产品服务</h3>-->
                <!--<a href="">接口短信</a>-->
                <!--<a href="">国际验证码</a>-->
                <!--<a href="">Web短信</a>-->
                <!--<a href="">语音验证码</a>-->
                <!--<a href="">国际语音验证码</a>-->
                <!--<a href="">话费充值</a>-->
                <!--<a href="">流量分发</a>-->
                <!--<a href="">手机入网</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<h3>开发者中心</h3>-->
                <!--<a th:href="@{/help.html}">新手指南</a>-->
                <!--<a th:href="@{/api.html}">API文档</a>-->
                <!--<a th:href="@{/help.html}">常见问题</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<h3>关于我们</h3>-->
                <!--<a href="">企业简介</a>-->
                <!--<a href="">资质荣誉</a>-->
                <!--<a href="">联系我们</a>-->
            <!--</li>-->
            <!--<li class="li04" th:switch="${session.site.id}">-->
                <!--<h3 th:case="1">关注启瑞云</h3>-->
                <!--<h3 th:case="2">关注天瑞云</h3>-->
                <!--<h3 th:case="3">关注短信网</h3>-->
                <!--<h3 th:case="*">关注启瑞云</h3>-->
                <!--<img th:src="@{/assets/layout/img/qr/chonry.jpg}"  th:case="1" alt="" title="" />-->
                <!--<img th:src="@{/assets/layout/img/qr/tinree.jpg}"  th:case="2" alt="" title="" />-->
                <!--<img th:src="@{/assets/layout/img/qr/dxw.jpg}"  th:case="3" alt="" title="" />-->
                <!--<img th:src="@{/assets/layout/img/qr/chonry.jpg}"  th:case="*" alt="" title="" />-->
                <!--<p class="footer-tell" th:case="1">400-006-0086</p>-->
                <!--<p class="footer-tell" th:case="2">400-865-0285</p>-->
                <!--<p class="footer-tell" th:case="3">400-0233-021</p>-->
                <!--<p class="footer-tell" th:case="*">400-006-0086</p>-->
            <!--</li>-->
        <!--</ul>-->
        <!--<div th:switch="${session.site.id}">-->
            <!--<address th:case="1">-->
                <!--Copyright © 安徽启瑞信息技术有限公司 All Rights Reserved 版权  皖ICP备12004788号-->
            <!--</address>-->
            <!--<address th:case="2">-->
                <!--Copyright © 安徽天瑞信息技术有限公司 All Rights Reserved 版权-->
            <!--</address>-->
            <!--<address th:case="3">-->
                <!--Copyright © 短信网 畅增信息科技（上海）有限公司 版权所有 All Rights Reserved 版权-->
            <!--</address>-->
            <!--<address th:case="*">-->
                <!--Copyright © 安徽合肥启瑞信息科技有限公司 All Rights Reserved 版权  皖ICP备12004788号-->
            <!--</address>-->
        <!--</div>-->

    <!--</div>-->
<!--</footer>-->
</body>
</html>
