<!DOCTYPE html>
<html lang="en">
<head>
    <meta  charset=UTF-8"utf-8" />
    <title>帮助中心 | 启瑞云-CR-来自通讯的极速体验！</title>

    <link rel="stylesheet" href="../public/assets/plugins/bootstrap/css/bootstrap.min.css" tppabs="http://cr.1cloudsp.com/assets/plugins/bootstrap/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="../public/assets/layout/css/style.css" tppabs="http://cr.1cloudsp.com/assets/layout/css/style.css" type="text/css" />
    <link rel="stylesheet" href="../public/assets/layout/css/prism.css" tppabs="http://cr.1cloudsp.com/assets/layout/css/prism.css" type="text/css" />
    <link rel="shortcut icon" href="/assets/layout/img/favicon.ico" /> </head>
    <script src="../public/assets/plugins/jquery.min.js" tppabs="http://cr.1cloudsp.com/assets/plugins/jquery.min.js" type="text/javascript" ></script>
    <script src="../public/assets/plugins/bootstrap/js/bootstrap.min.js" tppabs="http://cr.1cloudsp.com/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript" ></script>

    <script src="../public/assets/plugins/prism.js" tppabs="http://cr.1cloudsp.com/assets/plugins/prism.js" type="text/javascript"></script>
    <!-- ie 下placeholder 内容不显示问题  -->

    <!--<script src="../js/jquery.placeholder.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(function () {
        // Invoke the plugin
        $('input, textarea').placeholder();
      });
    </script>-->
</head>
<body >
<!--<div class="navigation ">-->
    <!--<div class="container"> <a href="" class="logo pull-left"></a>-->
        <!--<div class="pull-right" style="margin-top:24px;"> <a href="login.html" class=" btn btn-outline-white">登录</a> <a href="register.html" class="btn-blue" style="margin-left:10px;">注册</a> </div>-->
        <!--<ul class="pull-right menu">-->
            <!--<li><a href="">首页</a><span>|</span></li>-->
            <!--<li><a href="">产品服务</a><span>|</span></li>-->
            <!--<li><a href="">行业案例</a><span>|</span></li>-->
            <!--<li><a href="product-price.html">价格</a><span>|</span></li>-->
            <!--<li><a href="">线上体验</a><span>|</span></li>-->
            <!--<li><a href="#">开发者中心</a>-->
                <!--<ul>-->
                    <!--<li><a href="api.html" >API手册</a></li>-->
                    <!--<li><a href="helper.html" >帮助中心</a></li>-->
                <!--</ul>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->
<div class="header">
    <div class="container-cr"> <a class="logo" href="index.html" tppabs="http://cr.1cloudsp.com/">
        <img alt="logo"  src="resources/images/site_logo/chonry.png" tppabs="http://cr.1cloudsp.com/resources/images/site_logo/chonry.png" /> </a>
        <div class="nav">
            <a href="index.html" tppabs="http://cr.1cloudsp.com/">首页</a>
            <a href="api.html" tppabs="http://cr.1cloudsp.com/api.html">API手册</a>
            <a href="help.html" tppabs="http://cr.1cloudsp.com/help.html">帮助中心</a>
            <!--<a href="tel:400-006-0086" class="tel" th:if="${session.site.id == 1}">热线：400-006-0086</a>-->
            <!--<a href="tel:400-865-0285" class="tel" th:if="${session.site.id == 2}">热线：400-865-0285</a>-->
            <!--<a href="tel:400-0233-021" class="tel" th:if="${session.site.id == 3}">热线：400-0233-021</a>-->
            <!--<a href="tel:400-006-0086" class="tel" th:if="${session.site.id != 1 && session.site.id != 2 && session.site.id != 3}">热线：400-006-0086</a>-->
            <!--<a class="nav-small" href="javascript:void(0);"><i class="iconfont icon-mulu"></i></a>-->
        </div>
    </div>
</div>
<div class="container container-api">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-xs-12">
            <nav class="navbar navbar-default cr-detail-menu" role="navigation">
                <div class="container-fluid menu-item">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#example-navbar-collapse" aria-expanded="false">

                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"  name="topF">帮助支持</a>
                    </div>
                    <div class="navbar-collapse collapse" id="example-navbar-collapse" aria-expanded="false" style="height: 1px;">
                        <ul class="nav navbar-nav ">
                            <li><a href="#1">资料完善</a></li>
                            <li><a href="#2">启建应用</a></li>
                            <li class="active"> <a class="navbar-brand" href="#"  style="float:none; line-height:30px; padding-left:10px;">常见问题 </a></li>
                            <li><a href="#3">行业应用类</a></li>
                            <li><a href="#4">会员营销类</a></li>
                            <li><a href="#5">常见问题</a></li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-sm-9 col-md-9 col-xs-12">
            <div class="cr-detail-box" id="1" >
                <div class="cr-detail-info info2">
                    <!-- detail start -->
                    <div class="info2-item">
                        <div class="tit">资料完善</div>
                        <div class="cont">
                            <p>进入开发者平台后，开发者可在"用户中心"&mdash;&mdash;"企业信息"一栏中，通过填写提交个人开发者或企业开发者的认证资料，完成资料提交并进入审核阶段。</p>
                            <br>
                            <p><img alt="" src="../public/assets/layout/help/img/10.png" tppabs="http://cr.1cloudsp.com/assets/layout/help/img/10.png"></p>
                            <br>
                            <p>云服务商开发者团队对您提交的资料审核通过后，您可查看认证情况，并可根据实际情况对认证资料进行修改，再次进入认证审核阶段。</p>
                            <!--<p><img src="asssingogin/img/helper/7.jpg" alt=""/></p><br>-->
                            <p>资质证明材料说明</p>
                            <br>
                            <p>*如果是个人开发者，需提交如下材料且符合要求，才能达到认证资格。</p>
                            <br>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;基本信息 - 包括姓名、联系方式等；</p>
                            <br>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;资质证明 - 上传本人手持真实有效的身份证/护照图片。</p>
                            <br>
                            <p>*如果是公司开发者，需提交如下资料且符合要求，才能达到认证资格。</p>
                            <br>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;基本信息 - 公司名称、注册地址、法人代表、联系方式等；</p>
                            <br>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;资质证明 - 上传公司营业执照扫描件。</p>
                            <br>
                            <p>开发者资质审核规范</p>
                            <br>
                            <p>1. 资质证明文件必须真实有效、完整、清晰、无其他特殊标记。</p>
                            <br>
                            <p>2. 开发者名称、证件号码与资质文件上信息完全一致。证件在有效期内。公司简称、证件号错误均无法通过。</p>
                            <br>
                            <p>营业执照样本：</p>
                            <br>
                            <p><img alt="" src="../public/assets/layout/help/img/11.png" tppabs="http://cr.1cloudsp.com/assets/layout/help/img/11.png"></p>
                        </div>
                    </div>
                    <div class="info2-item" id="2">
                        <div class="tit">启建应用</div>
                        <div class="cont"> <img alt="" src="../public/assets/layout/help/img/5.jpg" tppabs="http://cr.1cloudsp.com/assets/layout/help/img/5.jpg"><br>
                            <p>进入开发者平台，来到首页，可在页面下方看到"我的应用"，页面上的列表是您已开通或可选择开通的应用，您可以点击"开通"对此应用进行开通，也可点击"进入"转到该应用的管理。</p>
                            <br>
                            <p><img alt="" src="../public/assets/layout/help/img/6.jpg" tppabs="http://cr.1cloudsp.com/assets/layout/help/img/6.jpg"></p>
                            <br>
                            <p>*若进入应用，可进行应用管理和短信应用的监测。</p>
                            <p><img alt="" src="../public/assets/layout/help/img/7.jpg" tppabs="http://cr.1cloudsp.com/assets/layout/help/img/7.jpg"></p>
                            <br>
                            <p>因篇幅有限，选择如下几项进行重点讲解，如您使用过程中遇到困难，可联系客服人员为您解答。</p>
                            <br>
                            <p>*短信发送模块：点击"短信发送"进入到发送界面，您可选择"普通发送"，"个性发送"以及"发送测试短信"。（发送短信前请确保账户有短信条数，若没有，可进行短信充值）</p>
                            <br>
                            <p><img alt="" src="../public/assets/layout/help/img/8.jpg" tppabs="http://cr.1cloudsp.com/assets/layout/help/img/8.jpg"></p>
                        </div>
                    </div>
                    <!-- detail end -->
                </div>
                <div class="cr-detail-info info2" id="3">
                    <!-- detail start -->
                    <div class="info2-item">
                        <div class="tit">A、短信办理类</div>
                        <div class="cont">
                            <!-- star -->
                            <div class="info">
                                <h3>A01、短信使用时间有期限吗？</h3>
                                <p>木有。长期有效，不会过期！</p>
                            </div>
                            <div class="info">
                                <h3>A02、短信如何充值？能否使用支付宝或汇款？</h3>
                                <p>您可以登陆后台点击首页的"充值"按钮进行在线充值，支持支付宝等在线支付。也可线下转账后提供凭证后安排为您线下充值。</p>
                            </div>
                            <div class="info">
                                <h3>A03、你们可以开发票吗？</h3>
                                <p>可以开票，普通发票和增值税发票都可以开。可自助申请。申请完成后会尽快为您发出并通知您。</p>
                            </div>
                            <!-- end -->
                        </div>
                    </div>
                    <div class="info2-item">
                        <div class="tit">B、短信使用类 </div>
                        <div class="cont">
                            <!-- star -->
                            <div class="info">
                                <h3>B01、短信能测试吗？</h3>
                                <p>可以。免费注册提交信息后，我们销售人员会联系您，将免费测试账户给到您。</p>
                            </div>
                            <div class="info">
                                <h3>B02、可以同时发多个手机吗？</h3>
                                <p>可以，相同内容一次可以提交多个号码。</p>
                            </div>
                            <div class="info">
                                <h3>B03、三网（移动、联通和电信）都可以发吗？</h3>
                                <p>是的。三网都支持，全国号码都可以发。</p>
                            </div>
                            <div class="info">
                                <h3>B04、什么是短信签名？</h3>
                                <p>短信签名作为标识是加在短信的开头或结尾。由【】加上您的公司名称或项目名称的标识符，例如：【云服务】。根据电信基础运营商的规定，每条短信前必须附加短信签名，否则将无法正常发送。</p>
                            </div>
                            <div class="info">
                                <h3>B05、发送时间有限制吗？</h3>
                                <p>没有限制。实际使用时，请以不打扰用户正常作息时间为前提。</p>
                            </div>
                            <div class="info">
                                <h3>B06、信息人工审核时间？</h3>
                                <p>行业短信提交模板和签名通过审核后，全天24小时发送，未绑定模板会进入人工审核，人工审核时间为8:30-21:00。</p>
                            </div>
                            <div class="info">
                                <h3>B07、普通短信计费的问题？</h3>
                                <p>短信70字符以内算一条扣费。</p>
                                <p>超过70字以67字一条扣费，例如71字到134字算2条，135字算3条。</p>
                            </div>
                            <!-- end -->
                        </div>
                    </div>
                    <div class="info2-item" id="4">
                        <div class="tit">C、会员营销类 </div>
                        <div class="cont">
                            <!-- star -->
                            <div class="info">
                                <h3>C01、短信是不是什么内容都可以发送？</h3>
                                <p>不是的。短信群发不可以发送非法的内容，如破坏国家统一的；损害国家荣誉的；破坏国家宗教政策，宣扬邪教迷信的；
                                    散布谣言，扰乱破坏社会秩序稳定的；侮辱或诽谤他人，侵害他人合法权益的；含有法律、行政法规、政策禁止的内容。</p>
                            </div>
                            <div class="info">
                                <h3>C02、短信群发是不是马上提交就收到？</h3>
                                <p>一般来说，当天提交的，当天发送。接收时间主要是看在客户提交时平台上已经提交的总量。基本按照先提交先发的原则，有特殊情况，可以特殊优先。</p>
                            </div>
                            <div class="info">
                                <h3>C03、短信群发为什么有时候收不到？</h3>
                                <p>首先要排除手机关机或欠费停机的因素，再查询一下您的手机卡是会被移动或联通等运营商冻
                                    封了短信功能，因为移动公司目前发短信有限速，一个小时内如果超过一百条短信将被移动认定为短信广告，号码就会被封住短信功能。所在地区信号太差或手机质
                                    量问题也会造成短信接收不到，现在很多智能手机也有屏蔽陌生短信的功能；大批量发送短信也会有少量失败的，发送一万条短信，如果有几十条没收到，那也是很
                                    正常的比例。</p>
                            </div>
                            <div class="info">
                                <h3>C04、为什么短信群发接收延时？</h3>
                                <p>（1）发送时间影响:

                                    关于延时这个问题，在短信高峰期（周四、五、六以及节假日前期），就算用自己的手机发短信也会出现延时的情况，甚至收不到；平台短信审核时间为
                                    8:30-18:00，高效触发一分钟完成审核机制。在18点到第二天早上8点30分这段时间发送的短信，需要通过第二天的审核，通过审核后，短信才能发
                                    出。</p>
                                <p>（2）通道的影响:
                                    不同的短信通道，短信的发送速度也是不一样的。</p>
                                <p>（3）运营商的信号影响:
                                    运营商的信号影响，发送需要一个过程，大批量短信群发会有先后次序。</p>
                                <p>（4）手机质量及网络的影响:
                                    手机质量差或是网络比较差的情况下，也会影响短信的接收速度。</p>
                            </div>
                            <div class="info">
                                <h3>C05、为什么群发短信,不同客户到达率不同？</h3>
                                <p>我们平台总结有以下几种原因：</p>
                                <p>（1）虽然是同一条短信，由于地域屏蔽词不同，可能不同地域，短信到达率也是不一样的，所以需要多测试几条短信，反复修改短信内容才能达到短信群发最高到达率。</p>
                                <p>（2）当部分客户收不到短信，可能和当时手机的信号有关，若当时手机处在关机，停机，不在服务区，无信号等情况下，也是收不到的短信的。</p>
                                <p>部分智能手机开启360等程序拦截功能，收到的营销类短信可能会被拦截，因此也不能直接查看到短信。 </p>
                            </div>
                            <div class="info">
                                <h3>C06、短信群发平台发出的短信显示什么样的号码？</h3>
                                <p>首先客户能够问出这么专业的问题，说明短信群发业务已被众多大、中、小企业所采用、认
                                    可。短信群发平台发出的短信显示的号码取决于短信的内容和所走的通道。通知、验证码类及客户维护类等短信发送出去服务代码均为106等固定号码开头，当然
                                    如果客户发通知类的短信需要显示手机号码，我们短信平台也会根据客户需求分配手机号码。

                                    又有客户问了，发营销类的短信可以显示106号码吗？我们短信平台除了个别行业不可以发106的营销广告外，其他行业的营销广告都是可以显示106号码
                                    的。 </p>
                            </div>
                            <!-- end -->
                        </div>
                    </div>
                    <div class="info2-item" id="5">
                        <div class="tit">D、常见问题 </div>
                        <div class="cont">
                            <!-- star -->
                            <div class="info">
                                <h3>D01、手机号进黑名单了，怎么破？</h3>
                                <p>您可以选择：</p>
                                <p>（1）如果联系客服解除黑名单，需要您提供特服号和要解除黑名单的手机号；</p>
                                <p>（2）申请专用通道，最大程度的避免命中黑名单；</p>
                            </div>
                            <div class="info">
                                <h3>D02、发送后没收到是什么原因？</h3>
                                <p>首先确认一下，短信发送是否返回成功。</p>
                                <p>如果返回失败，请按具体返回的失败代码和出错提示排查；</p>
                                <p>如果返回成功，请检查：</p>
                                <p>（1）手机是否处于关机或欠费停机状态，可以拨打手机号码确认。</p>
                                <p>（2）请检查手机信号是否正常，必要时重启一下手机。</p>
                                <p>（3）是否被短信屏蔽软件拦截，检查是否在屏蔽的短信列表中。</p>
                                <p>（4）通过接口查询短信接受状态和错误代码。</p>
                            </div>
                            <div class="info">
                                <h3>D03、为什么会重复收到短信？</h3>
                                <p>（1）检查您的程序是否重复提交的问题；</p>
                                <p>（2）极端情况下，由于手机端未正确返回确认信号给运营商，造成运营商认为手机没有接受成功， 尝试重试发送。请重启手机解决，必要的时候，取出手机卡，插入接受正常的手机接受完短信再插回原来的手机。</p>
                            </div>
                            <div class="info">
                                <h3>D04、短信接收延时的解决方案？</h3>
                                <p>（1）关于发送时间的影响可以避免短信发送的高峰期，客户对于发广告短信，可以提前发；最好在我们短信审核的时间段内发送短信。</p>
                                <p>（2）不同的通道，短信的发送速度也是不一样的，所以建议广大客户不要贪图小便宜购买便宜的短信，这样通道不一样，短信的发送速度肯定不一样。</p>
                                <p>（3）运营商的信号影响，这个只能等信号恢复了，才能发送正常。</p>
                                <p>（4）至于手机质量和网络的问题，建设换台手机测试。</p>
                            </div>
                            <div class="info">
                                <h3>D05、短信验证码被刷怎么办？</h3>
                                <p>（1）加上检测逻辑，屏蔽非手机号的乱码等无效数字。</p>
                                <p>（2）在注册页添加个隐藏的"input"，value为随机验证码(保存在session)，发短信前验证一下，保证是在当前页面点击。</p>
                                <p>（3）前端加好效验码（图形验证或二次确认）防机器人批量刷。</p>
                                <p>（4）频率限制-同一号码重复发送的时间间隔，建议设置为60-120秒。</p>
                                <p>（5）同号码请求数量限制，根据业务特点，设置每个手机号码每天的最大发送量。</p>
                                <p>（6）场景流程限定&mdash;&mdash;将手机短信验证和用户名密码设置分成两个步骤，用户在设置成功用户名密码后，下一步才进行手机短信验证，并且需要在获取第一步成功的回执之后才可进行校验。</p>
                                <p>（7）传输https加密。</p>
                                <p>（8）IP限定&mdash;&mdash;根据自己的业务特点，设置每个IP每天的最大发送量。</p>
                                <p>（9）设置验证码时效性-数据库保存生成的验证码时间，表单提交时，判断该验证码是否正确（是否在表中存在同时验证码是否失效，一般是五分钟内失效）。</p>
                            </div>
                            <!-- end -->
                        </div>
                    </div>
                    <!-- detail end -->
                </div>
            </div>



        </div>
    </div>
</div>
<!--<footer>-->
    <!--<div class="container">-->
        <!--<ul class="clearfix">-->
            <!--<li class="li01">-->
                <!--<h3>产品服务</h3>-->
                <!--<a href="">接口短信</a> <a href="">国际验证码</a> <a href="">Web短信</a> <a href="">语音验证码</a> <a href="">国际语音验证码</a> <a href="">话费充值</a> <a href="">流量分发</a> <a href="">手机入网</a> </li>-->
            <!--<li>-->
                <!--<h3>开发者中心</h3>-->
                <!--<a th:href="@{/help.html}">新手指南</a> <a th:href="@{/api.html}">API文档</a> <a th:href="@{/help.html}">常见问题</a> </li>-->
            <!--<li>-->
                <!--<h3>关于我们</h3>-->
                <!--<a href="">企业简介</a> <a href="">资质荣誉</a> <a href="">联系我们</a> </li>-->
            <!--<li th:switch="${session.site.id}">-->
                <!--<h3 th:case="1">关注启瑞云</h3>-->
                <!--<h3 th:case="2">关注天瑞云</h3>-->
                <!--<h3 th:case="3">关注短信网</h3>-->
                <!--<h3 th:case="*">关注启瑞云</h3>-->
                <!--<img th:src="@{/assets/layout/img/qr/chonry.jpg}"  th:case="1" alt="" title="" />-->
                <!--<img th:src="@{/assets/layout/img/qr/tinree.jpg}"  th:case="2" alt="" title="" />-->
                <!--<img th:src="@{/assets/layout/img/qr/dxw.jpg}"  th:case="3" alt="" title="" />-->
                <!--<img th:src="@{/assets/layout/img/qr/chonry.jpg}"  th:case="*" alt="" title="" />-->
                <!--<p class="footer-tell" th:case="1">400-006-0086</p>-->
                <!--<p class="footer-tell" th:case="2">400-865-0285</p>-->
                <!--<p class="footer-tell" th:case="3">400-0233-021</p>-->
                <!--<p class="footer-tell" th:case="*">400-006-0086</p>-->
            <!--</li>-->
        <!--</ul>-->
        <!--<div th:switch="${session.site.id}">-->
            <!--<address th:case="1">-->
                <!--Copyright © 安徽启瑞信息技术有限公司 All Rights Reserved 版权  皖ICP备12004788号-->
            <!--</address>-->
            <!--<address th:case="2">-->
                <!--Copyright © 安徽天瑞信息技术有限公司 All Rights Reserved 版权-->
            <!--</address>-->
            <!--<address th:case="3">-->
                <!--Copyright © 短信网 畅增信息科技（上海）有限公司 版权所有 All Rights Reserved 版权-->
            <!--</address>-->
            <!--<address th:case="*">-->
                <!--Copyright © 安徽合肥启瑞信息科技有限公司 All Rights Reserved 版权  皖ICP备12004788号-->
            <!--</address>-->
        <!--</div>-->
    <!--</div>-->
<!--</footer>-->


<div class=" back-top">
    <a href="#topF" name="topF"><img src="../public/assets/layout/img/home/line-support-icon03.jpg" tppabs="http://cr.1cloudsp.com/assets/layout/img/home/line-support-icon03.jpg" alt="" title=""></a>
</div>


</body>
</html>
