<div class="portlet light bordered">
    <div class="portlet-body">
        <div class="tabbable-line">
            <ul id="tabs" class="nav nav-tabs ">
                <li ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.url)}" ng-click="onClickTab(tab)">
                    <a ui-sref="{{tab.url}}"> {{tab.title}} </a>
                </li>
                <!--<li ng-class="active.template ? 'active' : ''">-->
                <!--<a ui-sref="setting.template"> 模板报备 </a>-->
                <!--</li>-->
            </ul>
            <div class="tab-content">
                <div class="row">
                    <form class="form-horizontal" role="form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-group" style="margin-bottom: 0 !important;">
                                        <label class="control-label col-sm-6 col-md-3 col-lg-4">查询条件</label>
                                        <div class="col-sm-6 col-md-9 col-lg-8">
                                            <input type="text" class="form-control input-sm" ng-model="params.sign" placeholder="请输入签名查询">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-group" style="margin-bottom: 0 !important;">
                                        <label class="control-label col-sm-6 col-md-3 col-lg-4">审核状态</label>
                                        <div class="col-sm-6 col-md-9 col-lg-8">
                                            <ui-select ng-model="params.applyStatus" theme="bootstrap" search-enabled="false" class="pull-left ui-select-container ui-select-bootstrap dropdown ng-valid" style="top: 3px; width: 150px; float: left;">
                                                <ui-select-match placeholder="--审核状态--">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.applyStatus as item in statusData" value="{{item.applyStatus}}">
                                                    {{item.name}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group" style="margin-bottom: 0 !important;">
                                        <div class="col-md-12">
                                            <button type="submit" class="form-control input-sm btn btn-sm blue" ng-click="search()"><i class="fa fa-search"></i> 查询</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group" style="margin-bottom: 0 !important;">
                                        <div class="col-md-12">
                                            <button type="submit" class="form-control input-sm btn btn-sm green" ng-click="open(null)"> 新增签名</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-scrollable">
                    <table class="table table-hover table-light">
                        <thead>
                        <tr>
                            <th style="width: 10%;"> 创建日期 </th>
                            <th style="width: 5%;">
                                签名ID
                                <a href="#" tooltips tooltip-side="top" tooltip-template="<span>该字段为国际接口短信的signId字段</span>"><i class="fa fa-question-circle font-blue"></i></a>
                            </th>
                            <th style="width: 10%;">
                                签名
                                <!--<a href="#" tooltips tooltip-side="right" tooltip-template="<span style='color:#00ffff'>该字段为发送国际接口短信的sign字段（非必填）</span>"><strong>签名</strong></a>-->
                            </th>
                            <th style="width: 10%;"> 扩展号 </th>
                            <!--<th> 是否免限 </th>-->
                            <th style="width: 10%;"> 审核状态 </th>
                            <th style="width: 10%;"> 审核说明 </th>
                            <th style="width: 10%;"> 操作 </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="data in tableData">
                            <td ng-bind="data.ctime | date: 'yyyy-MM-dd HH:mm:ss'">  </td>
                            <td ng-bind="data.id">  </td>
                            <td> {{data.sign}} </td>
                            <td ng-bind="data.extNo">  </td>
                            <!--<td ng-bind="data.exemptFlag">  </td>-->
                            <td>
                                <span class="font-yellow-gold" ng-if="data.applyStatus == 1">待审核</span>
                                <span class="font-green-1" ng-if="data.applyStatus == 2">审核通过</span>
                                <span class="font-red" ng-if="data.applyStatus == 3">审核驳回</span>
                            </td>
                            <td ng-bind="data.applyReply">  </td>
                            <td>
                                <a href="javascript:;" class="btn btn-xs blue" ng-click="open(data)"> 编辑 </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row" ng-if="tableData.length == 0" style="margin: 0;padding: 80px;">
                        <p class="text-center">
                            <img class="avatar" src="../public/assets/layout/img/norecord.png">
                        </p>
                    </div>
                    <tm-pagination ng-if="tableData.length > 0" conf="paginationConf"></tm-pagination>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/ng-template"  id="signEdit.html">
    <form class="form-horizontal ng-pristine ng-valid" role="form" id="intlSignEditForm" novalidate>
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()"></button>
            <h5 class="modal-title">国际签名签名</h5>
        </div>
        <div class="modal-body" style="padding-bottom: 0;">
            <div class="row" style="margin-bottom: 0;">
                <div class="col-md-10">
                    <div class="form-group">
                        <label class="control-label col-md-3">签名内容</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control input-sm" ng-model="data.sign" name="sign" placeholder="签名内容">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">备注</label>
                        <div class="col-md-9">
                            <textarea rows="3" class="form-control input-sm" ng-model="data.description" name="remark" placeholder="备注"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row alert alert-info" style="margin-bottom: 0;">
                <strong>重要!</strong> 国际签名最多支持10个，且必须由包含在英文[]或中文【】内，否则人工审核不予驳回。<br>
                <strong>提示!</strong> 人工审核将在10分钟内完成，请耐心等待！(工作时间:8:30 ~ 21:00)。如有紧急情况，请联系客服。
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-xs default" ng-click="cancel()">取消</button>
            <button type="submit" class="btn btn-xs green" ng-click="ok()">确定</button>
        </div>
    </form>
</script>
