<div class="portlet light bordered">
    <div class="portlet-body">
        <div class="tabbable-line">
            <ul id="tabs" class="nav nav-tabs ">
                <li ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.url)}" ng-click="onClickTab(tab)">
                    <a ui-sref="{{tab.url}}"> {{tab.title}} </a>
                </li>
                <!--<li ng-class="active.template ? 'active' : ''">-->
                <!--<a ui-sref="setting.template"> 模板报备 </a>-->
                <!--</li>-->
            </ul>
            <div class="tab-content">
                <ul id="tabs" class="nav nav-tabs ">
                    <li ng-repeat="day in tabs2" ng-class="{active:isActiveDay(day.url)}" ng-click="onClickDay(day)">
                        <a ui-sref="{{day.url}}"> {{day.title}} </a>
                    </li>
                    <!--<li ng-class="active.template ? 'active' : ''">-->
                    <!--<a ui-sref="setting.template"> 模板报备 </a>-->
                    <!--</li>-->
                </ul>
                <div class="tab-content">
                    <div class="row">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-sm-6 col-md-4 col-lg-3">
                                                    <div class="form-group" style="margin-bottom: 0 !important;">
                                                        <label class="control-label col-sm-6 col-md-3 col-lg-4">查询日期</label>
                                                        <div class="col-sm-6 col-md-9 col-lg-8">
                                                            <input class="form-control input-sm" style="background-color: #ffffff;width: 170px" readonly date-range-picker  options="opts" type="text" ng-model="date">
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--发送状态-->
                                                <div class="col-sm-6 col-md-4 col-lg-2">
                                                    <div class="form-group" style="margin-bottom: 0 !important;">
                                                        <label class="control-label col-sm-6 col-md-3 col-lg-5">发送状态</label>
                                                        <div class="col-sm-6 col-md-9 col-lg-7" style="padding: 0 !important;">
                                                            <ui-select ng-model="params.result" theme="bootstrap" search-enabled="false" class="pull-left ui-select-container ui-select-bootstrap dropdown ng-valid" style="top: 3px; width: 95px; float: left;">
                                                                <ui-select-match placeholder="--请选择--">{{$select.selected.name}}</ui-select-match>
                                                                <ui-select-choices repeat="type.value as type in result | filter: $select.search" value="{{type.value}}">
                                                                    {{type.name }}
                                                                </ui-select-choices>
                                                            </ui-select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--接收状态-->
                                                <div class="col-sm-6 col-md-4 col-lg-2">
                                                    <div class="form-group" style="margin-bottom: 0 !important;">
                                                        <label class="control-label col-sm-6 col-md-3 col-lg-5">接收状态</label>
                                                        <div class="col-sm-6 col-md-9 col-lg-7" style="padding: 0 !important;">
                                                            <ui-select ng-model="params.value" theme="bootstrap" search-enabled="false" class="pull-left ui-select-container ui-select-bootstrap dropdown ng-valid" style="top: 3px; width: 95px; float: left;">
                                                                <ui-select-match placeholder="--请选择--">{{$select.selected.name}}</ui-select-match>
                                                                <ui-select-choices repeat="type.value as type in types | filter: $select.search" value="{{type.value}}">
                                                                    {{type.name }}
                                                                </ui-select-choices>
                                                            </ui-select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--手机号-->
                                                <div class="col-sm-6 col-md-4 col-lg-2" style="width: 10%">
                                                    <div class="form-group" style="margin-bottom: 0 !important;">
                                                        <!--<label class="control-label col-sm-6 col-md-3 col-lg-4">手机号</label>-->
                                                        <div class="col-sm-12 col-md-12 col-lg-12" style="padding: 0 !important;">
                                                            <input type="text" class="form-control input-sm" ng-model="params.mobile" placeholder="请输入接收手机号">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6 col-md-4 col-lg-2"  style="width: 10%">
                                                    <div class="form-group" style="margin-bottom: 0 !important;">
                                                        <div class="col-sm-3"></div>
                                                        <div class="col-sm-3 col-md-9 col-lg-8" style="padding: 0 !important;">
                                                            <input type="text" class="form-control input-sm" ng-model="params.content" placeholder="内容关键字">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-1">
                                                    <div class="form-group" style="margin-bottom: 0 !important;">
                                                        <div class="col-md-12">
                                                            <button type="submit" class="form-control input-sm btn btn-sm blue" ng-click="load()"><i class="fa fa-search"></i> 查询</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1" style="width: 9%">
                                                    <div class="form-group" style="margin-bottom: 0 !important;">
                                                        <div class="col-md-12">
                                                            <button style="width: auto" type="submit" class="form-control input-sm btn btn-sm blue" ng-click="loadHistoryList()"> 导出查询结果</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                    </div>
                    <div class="table-scrollable">
                        <table class="table table-hover table-light">
                            <thead>
                            <tr>
                                <th style="width: 100px;"> 提交时间 </th>
                                <th style="width: 80px;"> 手机号 </th>
                                <th style="width: 250px;"> 发送内容 </th>

                                <th style="width: 60px;"> 计费条数
                                    <!--<a href="#" tooltips tooltip-side="top" tooltip-template="<span class='font-yellow-gold'>国内</span>：70字计1条短信费，超出70字则以67字每条计费；<br><span class='font-yellow-gold'>港澳台</span>：70字计1条短信费，超出70字则以67字每条计费；<br><span class='font-yellow-gold'>日本</span>：70字计1条短信费，超出70字则以67字每条计费；<br><span class='font-yellow-gold'>韩国</span>：70字计1条短信费，超出70字则以67字每条计费；<br><span class='font-yellow-gold'>纯英文(国外)</span>：160字计1条短信费，超出160字则以153字每条计费；<br><span class='font-yellow-gold'>注意</span>：单个汉字、英文和标点都算1个字；"><i class="fa fa-question-circle font-blue"></i></a>-->
                                </th>
                                <!--<th style="width: 60px;"> 类别 </th>-->
                                <!--<th style="width: 50px;"> 定时时间 </th>-->
                                <th style="width: 100px;"> 发送状态 </th>
                                <th style="width: 60px;">状态报告 </th>
                                <!--<th ng-if="stateSwitched == 1" style="width: 60px;"> 接收状态 </th>-->
                                <!--<th style="width: 180px;"> 接收时间 </th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="data in tableData">
                                <td ng-bind="data.born_date">  </td>
                                <td ng-bind="data.telephone">  </td>
                                <td ng-bind="data.content">  </td>
                                <td ng-bind="data.branches">  </td>
                                <!--<td>-->
                                    <!--<span class="font-green-1">提交成功</span>-->
                                <!--</td>-->
                                <!--<td>-->
                                    <!--<span class="font-yellow-gold" ng-if="data.receipt ==-1">等待返回</span>-->
                                    <!--<span class="font-green-1" ng-if="data.receipt == 0">接收成功</span>-->
                                    <!--<span class="font-red" ng-if="data.receipt!= 0&&data.receipt!=-1">接收失败</span>-->
                                <!--</td>-->
                                <td>
                                    <span class="font-yellow-gold" ng-if="data.result == -1">待发送</span>
                                    <span class="font-green-1" ng-if="data.result == 0">发送成功</span>
                                    <span class="font-red" ng-if="data.result==1">发送失败</span>
                                </td>
                                <td>
                                    <span class="font-yellow-gold" ng-if="data.receipt == -1">等待返回</span>
                                    <span class="font-green-1" ng-if="data.receipt == 0">接收成功</span>
                                    <span class="font-red" ng-if="data.receipt== 1">接收失败</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="row" ng-if="tableData.length == 0" style="margin: 0;padding: 80px;">
                            <p class="text-center">
                                <img class="avatar" src="../public/assets/layout/img/norecord.png">
                            </p>
                        </div>
                        <tm-pagination ng-if="tableData.length > 0" conf="paginationConf"></tm-pagination>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>
